@model Student


<form method="post" asp-controller="Student" asp-action="Delete">

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Student</h2>
			<hr />
		</div>
		<div class="mb-3">
			
			<label asp-for="Name">Name</label>
			<p>@Model.Name</p>
		</div>
		
		

		<button type="submit" class="btn btn-primary" asp-route-stageId="@Model.StageId" asp-route-id="@Model.Id" asp-route-Name="@Model.Name" style="width:150px">Delete</button>
		<a  asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">back to list</a>
    </div>

</form>