@model Stage



	
<div class="container p-1 align-content-center">
	<h2> Topics of stage @Model.StageNumber</h2>

</div>





<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Topic Name</th>

    </tr>
  </thead>
  <tbody>
         @foreach(Topic std in Model.topicList)
        {
            <tr >
                <td>@std.Name</td>
              
            </tr>
        }
    </tbody>
</table>
