@model Teacher


<div class="container p-1 align-content-center">
	<h2> Topics </h2>

</div>





<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Topic Name</th>
      <th scope="col">Number of students</th>
    </tr>
  </thead>
  <tbody>
        @foreach(Topic topic in @Model.topics)
        {
            <tr >
                <td>@topic.Name</td>
                <td>@topic.students?.Count</td>
               
                
            </tr>
        }
    </tbody>
</table>


